numpy
pandas
scikit-fuzzy
scipy
networkx
urllib3<2.0.0
textblob
nltk
pytesseract
Pillow
requests
beautifulsoup4
langdetect
deep-translator
streamlit
plotly
st-annotated-text
pdfplumber
newspaper3k
lxml_html_clean
scikit-learn
vaderSentiment
pandas
